<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>粗骨干校验与录入</title>
</head>
<body>
  <h1>飞书流程图录入入口</h1>
  <p>
    <form action="" method='post'>
      
        骨干名称: <input type="text" name="name"  maxlength="1000000000000"
                     ><br>
      
        飞书流程图文本: <br>
        <textarea maxlength="500000000000000" rows = "3" cols = "20" name="graph"></textarea>
<br>
        
        <input type="submit" value="提交">
        </form>

</p>
        

        
</body>
</html>