<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuantumGalaxy EV Band</title>
</head>
<body>
    <h3>输入信息画一个空想走廊，其中时间格式为'yyyy-mm-dd',概率为0-1的小数</h3>
    <form action="" method='put'>
        公司代码: <input type="text" name="code" >
        <br>

        公司名称: <input type="text" name="name" >
        <br>

        起始时间: <input type="text" name="start" >
        <br>


        目标时间: <input type="text" name="target" >
        <br>

        保守概率: <input type="text" name="pc" >
        <br>

        保守情景: <input type="text" name="xc" >
        <br>

        乐观概率: <input type="text" name="po" >
        <br>

        乐观情景: <input type="text" name="xo" >
        <br>

        <input type="submit" value="提交">
        </form>

            
            

        

        
</body>
</html>