<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuantumGalaxy Visual Platform</title>
</head>
<body>
  

  {% if name %}
    <h1>Hello, {{ name }}!</h1>
  {% else %}
    <h1>Hello, Stranger!</h1>
  {% endif %}
  {% if avatar_url %}
  

  <img src={{ avatar_url }} alt={{ name }} /><br> 
  {% endif %}



  {% if name %}
  <!-- <a href="{{url_for('backbone.backbone_fp')}}">查看骨干网络</a>
  <a href="{{url_for('ev_band.ev_band_fp')}}">查看市值走廊</a>
  
  <a href="{{url_for('map.get_map')}}">map</a> -->
  
  <a href="{{url_for('backbone_check.backbone_checker')}}">飞书流程图审核</a>
  <a href="{{url_for('live_editor.live_editor_index')}}">星图编辑工具</a>
  <a href="{{url_for('graph2xml.graph2xml_index')}}">多维表转流程图</a>
  <a href="{{url_for('cmpr.cmpr_index')}}">流程图多维表比对</a>
  <a href="{{url_for('scout.scout_index')}}">侦察报告汇总</a>
  <a href="{{url_for('login.logout')}}">退出登录</a>
  
  {% else %}
  <a href="{{url_for('login.feishu_login')}}">用户登录</a>
  {% endif %}
</body>
</html>